.mural_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    height: auto;
    width: auto;
  }
}

.mural_picture {
  width: 60%;
  padding: 50px;
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  .mural_div {
    margin: 0 auto;
  }
  .mural_Piwakawaka {
    padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .mural_Piwakawaka {
    width: 100%;
    height: auto;
  }

  .description {
    padding: 0;
    margin: 15px auto;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 369px) {
  .title_piwa {
    font-size: 1.8em;
  }
}
