.mural_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    height: auto;
    width: auto;
  }
}

.mural_picture {
  width: 60%;
  padding: 50px;
  transition: 1s;
}

.description {
  margin: 2em 0;
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: left;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  text-indent: 5%;
  text-align: justify;
  color: rgb(128, 126, 126);
}

@media screen and (max-width: 1024px) {
  .mural_div {
    margin: 0 auto;
  }
  .mural_Piwakawaka {
    padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .mural_Piwakawaka {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 369px) {
  .title_piwa {
    font-size: 1.8em;
  }
}
