@use 'src/styles/vars';

.arrayHome {
  margin-top: 5%;
  margin-left: 20%;
  font-size: large;
  font-weight: bold;
  border: 3px solid black;
  width: 38.5em;
  display: flex;
  flex-direction: column;
}

.cell_picture{
  border: 1px solid black;
  padding: 1em;
  padding-left: 2.93em;
  padding-right: 2.93em;
}

.cell_edit, .cell_delete{
  border: 1px solid black;
  padding-left: 4em;
  padding-right: 4.5em;
}

.cell_body {
  border: 1px solid black;
  padding-left: 3.5em;
  padding-right: 3.5em;
}


.cell_body_input_edit, .cell_body_input_delete{
  border: 1px solid black;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  background-color: rgb(192, 192, 192);
}

.cell_body_input_edit:hover{
  background-color: rgb(224, 200, 255);
  text-decoration: underline;
}

.cell_body_input_delete:hover{
  background-color: rgb(255, 170, 170);
  text-decoration: underline;
}


