@use 'src/styles/vars';

.arrayH {
  display: flex;
  flex-direction: row;

  &_menu {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-left: 2em;
    line-height: .5em;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(87, 87, 87);

    &:hover{
      text-decoration: underline;
    }
  }
}

.arrayHome {
  margin-top: 10em;
  width: 60%;
  margin-left: 15em;
  margin-bottom: 5em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: rgb(91, 107, 88);
  color: white;
}

tr:nth-child(odd) {
  background-color: #eee;
}
