.Paintings {
  animation: apparition 0.8s ease-out;
}

.painting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: normal;
  
  

  &_image{
    display: flex;
    flex-direction: column;
    width: 40%;
    transition: 1s;
    margin: 1em;
    cursor: pointer;
    &:active{
      transform: scale(2.2);
    }
  }

  &_description{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
  }

}

@media screen and (max-width: 1024px) {
  .menu_paintings {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    height: 5vh;
    align-items: center;
    float: none;
    border-left: none;
  }

  .menu_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
  }

  .menu_item {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: 767px) {
    .menu_item {
      font-size: 1rem;
      padding: 0.8rem 1.8rem;
    }
  }
}
