@use 'src/styles/vars';

.arrayNew{
  float: right;
  width: 85%;
  margin-right: 2em;
  margin-top: 5em;

}

table {
  width: 100%;
  border-collapse: collapse;
}

.cell{
  width: 25%;
}

.button{
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 8%;
  padding: 0px 10px 0px 10px;
  background-color: rgba(154, 158, 155, 0.103);
  
  &:hover{
  background-color: rgba(154, 158, 155, 0.329);
  }
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  width: 80%;
}

th {
  background-color: rgb(128, 163, 128);
  color: white;
}

tr:nth-child(odd) {
  background-color: #eee;
}
