@use 'src/styles/vars';

.Form{
  background-color: #f5f5f5;
  margin: 15% auto;
  width: 400px;
  height: 300px;
  font-family: vars.$family;
  font-weight: bold;
  
  &_connexion{
    padding-top: 1em;
    border: 7px solid rgb(135, 170, 128);
  }

  &_label{
    border: 2px solid rgb(135, 170, 128);
    background-color: rgb(135, 170, 128);
    color: white;
    font-size: xx-large;
    padding: 0.5em;
  }

  &_mail {
    margin: .5em;
    font-size: vars.$size;
    padding-bottom: .1em;
    padding-right: 1em;
  }

  &_submit {
    font-size: vars.$size;
    padding: vars.$padd;

    &:active{
      color: white;
      border-color: rgb(135, 170, 128);
    }
  }

  &_password{
    font-size: vars.$size;
    padding-top: vars.$padd;
    padding-right: 1em;
  }  

  &_input{
    padding: .2em;
    font-size: 1em;
    border: 2px solid rgb(135, 170, 128);
    border-radius: .3em;
    height: 2.5em;

    &:focus{
      border-color: rgb(135, 170, 128);
    }

    &:hover{
      border-color: rgb(135, 170, 128);
      background-color: rgb(240, 240, 240);
    }
  }

  
}
