.Mural_paintings {
  animation: apparition 0.8s ease-out;
}

.mural_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px auto 150px;
}

.mural_div {
  padding: 50px;
}

.mural_image {
  width: 1000px;
  height: auto;
}


@media screen and (max-width: 767px) {
  .mural_image{
    width: 100%;
    height: auto;
  }
}
