.Mural_paintings {
  animation: apparition 0.8s ease-out;
}

.mural-painting {
  margin-top: 2vh;

  &_title {
    margin: 1em;
    font-size: 3em;
    font-weight: bold;
  }

  &_description{
  font-style: italic;
  font-size: 1.5em;
  margin: 1em;
  }
}

.mural_image{
  width: 40%;
}

.description_header_paintings {
    padding: 1rem 0;
}

.content_mural_paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    width: 100%;
    height: auto;
}

.image_mural_paintings {
    border: 1px solid black;
    width: 1200px;
    height: 550px;
    margin: 0 4rem 4rem;
}
