.Mural_paintings {
  animation: apparition 0.8s ease-out;
}

.mural{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  &_div {
  padding: 50px;
}

  &_image {
  width: 1200px;
  height: auto;
  padding: 2em;
  background-color: white;
}

  &_title{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
  }


  &_information{
    font-size: large;
    line-height: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }
}

.line{
  margin-top: 6em;
  color: rgb(135, 170, 128);;
  width: 80%;
  border: 1px solid rgb(135, 170, 128);
}

@media screen and (max-width: 767px) {
  .mural_image{
    width: 100%;
    height: auto;
  }
}
