.array{

  display: flex;
  float: left;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;

  &_menu {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    color: rgb(87, 87, 87);
    border-right: 1px solid black;

    &:hover {
      text-decoration: underline;
      color: rgb(135, 170, 128);
    }
  }}

