.array{

  display: flex;
  float: left;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;

  &_menu {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    color: rgb(87, 87, 87);
    border-right: 1px solid black;

    &:hover {
      text-decoration: underline;
      color: rgb(135, 170, 128);
    }
  }}

  .menuAdmin {
    display: flex;
    position: absolute;
    flex-wrap: nowrap ;
    padding: .5em 2em;
    width: 100%;
    background-color: #ebe9e9;
    font-size: 1.2em;
    animation: apparition-menu 1.1s ease-out;
    cursor: pointer;
  }
  
  .link_menu_deconnexion{
    background-color: rgb(128, 163, 128);
    color: white;
    padding: .5em;
    border-radius: 10px;
    &:hover{
      background-color: rgb(72, 100, 72);
      cursor: pointer;
    }
  }

