@use 'src/styles/vars';

.Contact {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2em;
  animation: apparition 0.8s ease-out;
  height: 100vh;
}

.title {
  margin-right: 4em;
  margin-bottom: .7em;
  font-size: 1.8em;
  font-weight: 600;
  color: rgb(87, 87, 87);
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  font-size: 1.5rem;
  padding: 2.5em 2.5em;


  &_footer,
  &_message,
  &_description,
  &_descriptions_list,
  &_footer_message {
    padding: .2em;
    text-align: left;
  }


  &_descriptions_text {
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.4em;
    margin-bottom: 1em;
    text-align: left;
    color: rgb(87, 87, 87);
    text-decoration: underline;
  }

  &_descriptions {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    list-style: inside;
    list-style-position: inside;
  }

  &_footer {
    font-style: italic;
  }
}

.footer_contact{
  margin-top: 1.5em;
  float: left;
}

@media screen and (max-width: 1024px) {
  .contact {
    font-size: 1.5rem;


    &_footer,
    &_message,
    &_description,
    &_descriptions_list,
    &_footer_message {
      text-align: center;
    }

    

    &_descriptions_text {
      font-weight: bolder;
      font-size: 1.2em;
      padding: 0.4em;
      margin-bottom: 1em;
      text-align: center;
    }

    &_descriptions {
      margin-top: 1.5em;
      list-style: inside;
      list-style-position: inside;
    }

    &_footer {
      margin-top: 1.5em;
    }
  }
}
