@use "src/styles/vars";

.Contact {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2em;
  animation: apparition 0.8s ease-out;
  height: 100vh;
}

.title {
  margin-top: 1em;
  margin-right: 4em;
  margin-bottom: 0.7em;
  font-size: 1.8em;
  font-weight: 600;
  color: rgb(135, 170, 128);
}

.p {
  padding-right: 6em;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  font-size: 1.5rem;
  padding: 2.5em 2.5em;

  &_line {
    border-bottom: 2px solid rgb(199, 212, 196);
    width: 290px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }

  &_div {
    margin-top: 1em;
    color: rgb(128, 126, 126);
  }

  &_message {
    text-indent: 1em;
  }

  &_footer,
  &_message,
  &_description,
  &_descriptions_list,
  &_footer_message {
    padding: 0.2em;
    text-align: left;
  }

  &_descriptions_text {
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.4em;
    margin-bottom: 1em;
    text-align: left;
    color: rgb(87, 87, 87);
    text-decoration: underline;
  }

  &_descriptions {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    list-style: inside;
    list-style-position: inside;
  }

  &_footer {
    font-style: italic;
  }
}

.footer_contact {
  margin-top: 1.5em;
  float: left;
}

@media screen and (max-width: 1024px) {
  .ContactForm {
    width: 100%;
  }
  .contact,
  .contact_div,
  .p {
    width: 100%;
  }
  .contact_descriptions_list,
  .contact_message {
    text-align: center;
  }

  .title {
    margin: auto;
  }

  .p {
    padding: 1px;
  }
}
