@use 'src/styles/vars';

.Form{
  background-color: rgb(87, 164, 187);
  border-radius: 10px;
  margin: 15% auto;
  width: 400px;
  height: 300px;
  font-family: vars.$family;
  font-weight: bold;
  
  &_connexion{
    padding-top: 1em;
  }

  &_label{
    border: 2px solid rgb(38, 109, 131);
    border-radius: .4em;
    background-color: rgb(38, 109, 131);
    color: white;
    font-size: xx-large;
    padding: 0.5em;
  }

  &_mail {
    margin: .5em;
    font-size: vars.$size;
    padding-bottom: .1em;
    padding-right: 1em;
  }

  &_submit {
    font-size: vars.$size;
    padding: vars.$padd;
  }

  &_password{
    font-size: vars.$size;
    padding-top: vars.$padd;
    padding-right: 1em;
  }  

  &_input{
    padding: .2em;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: .3em;
    height: 2.5em;

    &:focus{
      border-color: rgb(38, 109, 131);
    }

    &:hover{
      border-color: rgb(38, 109, 131);
<<<<<<< HEAD
      background-color: rgb(240, 240, 240);
=======
      background-color: rgb(230, 220, 227);
>>>>>>> origin/css
    }
  }

  
}
