@use 'src/styles/vars';

.Form{
  background-color: rgb(132, 196, 187);
  border: 1px solid rgb(48, 90, 84);
  border-radius: 10px;
  margin: 2em;
  width: 300px;
  height: 250px;
  

  &_label{
    border: 2px solid rgb(48, 90, 84);
    background-color: rgb(46, 82, 77);
    color: white;
    font-size: vars.$size;
    padding: 1em;
  }

  &_mail {
    margin: .5em;
    font-size: vars.$size;
    padding-bottom: vars.$padd;
    padding-right: 1em;
  }

  &_submit {
    font-size: vars.$size;
    padding: vars.$padd;
  }

  &_password{
    font-size: vars.$size;
    padding-top: vars.$padd;
    padding-right: 1em;
  }  

  &_submit_input{
    border: 2px solid rgb(48, 90, 84);
    border-radius: 2em;
    margin-bottom: 3em;
    padding: 0.5em;
  }

}

