.arrayArtworkForm {
  border: 10px solid rgb(128, 163, 128);
  margin: 1em 2em 2em 15em;

  &_title{
    border-top: 10px solid rgb(128, 163, 128);
    border-bottom: 25px solid rgb(128, 163, 128);
    background-color:rgb(128, 163, 128);
    color: white;
    font-size: xx-large;
  }

  &_name{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;

    &_input {
      text-align: center;
      width: 20%;
      padding: .6em;
      margin: .5em;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
    }
  }

  &_informations {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &_formTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &_category_input,
  &_format_input,
  &_date_input,
  &_place_input {
    display: flex;
    margin: .7em;
    padding: .6em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(226, 226, 226);
  }


  &_place_input,
  &_format_input {
    text-align: center;
    width: 90%;
  }


  &_category {
    display: flex;
    flex-direction: column;


    &_select {
      margin: .7em;
      padding: .6em;
      border: none;
      border-radius: 5px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
      background-color: rgb(128, 163, 128);
      color: rgb(255, 255, 255);
    }
  }

  &_url {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 4em;
  }

  &_description {
    display: flex;
    flex-direction: column;

    &_input {
      margin:1em auto 3em auto;
      width: 70em;
      height: 15em;
      border-radius: 10px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
    }
  }

  &_ok{
    width: 5%;
    height: 2em;
    margin-bottom: 4em;
    background-color: rgb(128, 163, 128);
    color: white;
  }

}
