@use 'src/styles/vars';

body{
}

.Biography {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  animation: apparition 0.8s ease-out;

}


.bioImage{
  width: 30%;
  margin: 1em 0  0 1em;
  border-radius: 10px;
}


.biography{

  &_div {
  margin: 2em 0;
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: left;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  text-indent: 5%;
  }

  &_date{
    font-weight: bold;
  }
  &_country{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.719);
    text-decoration: underline;
  }

  &_title {
    font-size: 3em;
    font-weight: 700;
    margin: 1em 0;
    color: black;
  }
}

@media screen and (max-width: 1024px) {
  .Biography {
    display: flex;
    flex-direction: column;
  }
  
  .bioImage {
    float: none;
    margin: 0 0 2em 0;
    width: 82%;
  }

  .biography_div {
    text-align: center justify;
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 397px) {
  .biography_div {
    font-size: 1.2em;
  }

  .bioImage {
    width: 100%;
  }
}
