@use 'src/styles/vars';

.Biography {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.biography_title {
  font-size: 3em;
  font-weight: 700;
  margin: 1em 0;
  color: black;
}

.biography_block{
  margin-top: 10em;
  margin-left: 8em;
  margin-right: 8em;
}

.bioImage{
  width: 35%;
  margin: 0 2em 2em 0;
  border-radius : 200px;
  float: left;
  margin-left: 8em;
}


.biography{

  &_div {
  margin: 2em 0;
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  }

  &_date{
    font-weight: bold;
  }
  &_country{
    color: rgb(0, 0, 0);
  }
}

@media screen and (max-width: 1024px) {
  .Biography {
    display: flex;
    flex-direction: column;
  }
  
  .bioImage {
    float: none;
    margin: 0 0 2em 0;
    width: 82%;
  }

  .biography_div {
    text-align: center justify;
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 397px) {
  .biography_div {
    font-size: 1.2em;
  }

  .bioImage {
    width: 100%;
  }
}
