@use 'src/styles/vars';

.Biography {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  animation: apparition 0.8s ease-out;
}

.logo_menu{
  position: absolute;
  width: 90px;
  height: 70px;
}

.bioImage{
  width: 30%;
  margin: 1em 0  0 1em;
  border-radius: 10px;
}


.biography{

  &_block{
    margin-top: 4em;
  }

  &_div {
  margin: 2em 0;
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: left;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  text-indent: 5%;
  text-align: justify;
  }

  &_date{
    font-weight: bold;
  }
  &_country{
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.863);
    font-style: italic;
  }

  &_title {
    font-size: 3em;
    font-weight: 700;
    margin: 1em 0;
    color: black;
  }
}

@media screen and (max-width: 1024px) {
  .Biography {
    display: flex;
    flex-direction: column;
  }

  .logo_menu {
    display: none;
  }
  
  .bioImage {
    float: none;
    margin: 0 0 2em 0;
    width: 82%;
  }

  .biography_div {
    text-align: center justify;
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 397px) {
  .Biography h1 {
    margin: 48px 0;
  }
  
  .biography_div {
    font-size: 1.2em;
  }

  .bioImage {
    width: 85%;
  }
}
