@use 'src/styles/vars';



.bioImage{
  float: left;
  margin-top: 12em;
  margin-left: 5em;
  margin-right: 5em;
  width : 530px; height : 380px;
  border: none;
  border-radius : 200px;
}

.biography {
  margin: 0 auto;
  line-height: 1.7em;
  position: relative;
  font-size: 1.5rem;
  padding: 2.5em 2.5em;

  &_div{
    text-indent: 100px; 
    margin: 3em;
    text-align: left;
  }

  &_title {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 4em;
  }

  &_footer{
    padding: .2em;
    text-align: left;
    margin-top: 1.5em;
  }

}
