.mural_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 60px 320px 60px;
  width: 80%;
}

.mural_Narnia {
  width: 600px;
  height: auto;
  padding: 50px;
  transition: 1s;
  cursor: pointer;

  &:active {
    transform: scale(2);
    background: rgba(0, 0, 0, 0.301);
  }
}
