@use 'src/styles/vars';

.contactForm {
  display: flex;
  width: 50%;
  position: relative;
  font-size: 25px;
  text-align: center;
  margin: 1em;

  &_mail, &_message, &_name, &_firstName{
    margin: 2em 2em;
  }

  &_input_name, &_input_firstName{
    border-radius: 10px;
    padding: 1em;
    box-shadow: 10px 5px 5px rgb(226, 226, 226);
    width: 45%;
  }

  &_input_name{
    float: left;
  }


  &_input_mail{
    border-radius: 10px;
    padding: 1em;
    box-shadow: 10px 5px 5px rgb(226, 226, 226);
    width: 100%;
  }

  &_input_message{
    border-radius: 10px;
    padding: 1em;
    box-shadow: 10px 5px 5px rgb(226, 226, 226);
    width: 45em;
    height: 20em;
  }

  &_input_submit{
    height: 84px;
    border-radius: 10px;
    width: 87%;
    border: 3px solid rgb(135, 170, 128);
    color: rgb(42, 42, 42);
    font-size: 0.6em;
  }

  &_input_submit:hover {
    color: rgb(42, 42, 42);
    outline: 0;
    box-shadow: 0 0 40px 40px rgb(135, 170, 128) inset;
    color: white;
    cursor: pointer;
    border: none;
  }

  &_input_submit:active {
    color:white;
    background-color: rgb(59, 70, 28);
  }

}

input, textarea{
  border: none;
}

@media screen and (max-width: 1024px) {
.ContactForm{
  &_client{
    
  }
}

    .contactForm{
    &_mail,
    &_name,
    &_firstName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 1em auto;

    }

    &_input_message{
      width: 20em;
      height: 20vh;
    }
    &_input_submit{
      background-color: rgb(135, 170, 128) ;
      color: white;
      width: 30%;
      height: 10vh;
    }
  }

}