@use 'src/styles/vars';

.welcome {
  animation: apparition 0.8s ease-out;
}

.carousel .thumbs {
  display: none;
}

.carousel .control-dots {
  display: none;
}

.slide {
  width: 250px;
}

.carousel .slide img {
  width: 50%;
}

.control-arrow {
  color:  red;
}


@media screen and (max-width: 767px) {
  .carousel .slide img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }
}



