@use 'src/styles/vars';

.new {
  animation: apparition 0.8s ease-out;
  height: 100vh;
}

.news{
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
  width: 70%;

  &_footer{
    padding: .2em;
    margin-top: 1.5em;
  }
}
