@use "src/styles/vars";

.news {
  text-align: justify;
  font-size: 1.5em;
  margin: 0 auto;
  width: 70%;

  .new {
    animation: apparition 0.8s ease-out;
    &_image{
      
    }
  }
  &_footer {
    padding: 0.2em;
    margin-top: 1.5em;
  }
}
