@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');


html {
  height: 100%;
  scroll-behavior: smooth;
}

.app{
  min-height: 100vh;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;

  text-align: center;
  background-color: #f5f5f5;
  font-family: 'Trirong', serif;
  color: rgb(65, 64, 64);
}


h1{
  margin: 1em;
  font-size: 3em;
  font-weight: bold;
  color: rgb(87, 87, 87);
}

h2{
  font-style: italic;
  font-size: 1.5em;
  margin: 1em;
}

body::-webkit-scrollbar {
  width: 10px;

  border: solid 0 transparent;
	border-right-width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(135, 170, 128);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(96, 122, 91);
}
