@use 'src/styles/vars';

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
  font-family: vars.$family;
  color: rgb(65, 64, 64);
}

h1{
  margin: 1em;
  font-size: 3em;
  font-weight: bold;
  color: black;
}

h2{
  font-style: italic;
  font-size: 1.5em;
  margin: 1em;
}

body::-webkit-scrollbar {
  width: 10px;

  border: solid 0 transparent;
	border-right-width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(38, 109, 131);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(38, 109, 131, 0.815);
}