.portraits {
  animation: apparition 0.8s ease-out;
  
  height: 100vh auto;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.portrait_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px auto 150px;
}

.portrait_div {
  padding: 50px;
  transition: 1s;

  cursor: pointer;
}

.portrait_div:active {
  transform: scale(2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.301);
}

.portrait_image {
  width: 400px;
  height: 420px;
}

hr {
  border: none;
}

@media screen and (max-width: 767px) {
  .portrait_image{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 997px) {
  hr {
    width: 90%;
    border: 1px solid rgb(135, 170, 128);
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
