.Portraits {
  animation: apparition 0.8s ease-out;
}

.portrait {
  display: flex;
  flex-direction: row;
  margin: 5%;
  font-size: medium;
  font-weight: normal;


  &_image {
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    transition: 1s;
    margin: 1em;
    cursor: pointer;

  }

  &:active {
    transform: scale(2.2);
  }

&_div {
  padding: 1em;
}

}
