.Portraits {
  animation: apparition 0.8s ease-out;
}

.title{
  margin: 1em;
  font-size: 3em;
  font-weight: bold;
}

.portraits{
  font-style: italic;
  font-size: 1.5em;
  margin: 1em;
}

.portrait {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: medium;
  font-weight: normal;
  

  &_image{
    width: 20%;
    transition: 1s;
    margin: 1em;
    &:active{
      transform: scale(2.2);
    }
  }

}

.description{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
