.arrayNewForm {
  border: 10px solid rgb(128, 163, 128);
  margin: 1em 2em 2em 15em;

  &_title{
    border-top: 10px solid rgb(128, 163, 128);
    border-bottom: 25px solid rgb(128, 163, 128);
    background-color:rgb(128, 163, 128);
    color: white;
    font-size: xx-large;
  }

  &_name {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;

    &_input {
      text-align: center;
      width: 20%;
      padding: .6em;
      margin: .5em;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
    }
  }

  &_informations {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin-right: 10em;
  }
  &_date{
    padding-right: 6em;
  
  &_input{
    width: 40%;
    margin-left: 2em ;
  }
}

&_url{
margin: 4em;

    &_input {
      width: 50%;
      padding: .6em;
      margin: .5em;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
    }
}

  &_date_input,
  &_place_input {
    text-align: center;
    margin: 100px;
    display: flex;
    margin: .7em;
    padding: .6em;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(226, 226, 226);
  }

  &_place_input &_date_input {
    text-align: center;
    width: 110%;
    padding-right: 4em;
  }

  &_file {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  &_description {
    display: flex;
    flex-direction: column;

    &_input {
      margin: 1em auto 2em auto;
      width: 80%;
      height: 20vh;
      border-radius: 10px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
    }
  }

  &_ok{
    width: 5%;
    height: 2em;
    margin-bottom: 4em;
    background-color: rgb(128, 163, 128);
    color: white;
  }

}
