@use 'src/styles/vars';

.arrayHome{
  float: right;
  width: 85%;
  margin-right: 2em;
  margin-top: 5em;

  &_name{
    width: 18.24%;
  }
  &_urlPicture{
    padding-right: 63em;
  }

  &_body{
    &_delete{
    background-color: rgba(204, 59, 59, 0.932);
    color: white;
    &:hover{
      background-color: rgb(151, 23, 23);
    }
  }
  
  }
}

table {
  width:100% ;
  border-collapse: collapse;
}


.button{
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 8%;
  padding: 0px 10px 0px 10px;
  background-color: rgba(154, 158, 155, 0.103);
  
  &:hover{
  background-color: rgba(154, 158, 155, 0.329);
  }
}


th,
td {
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: rgb(128, 163, 128);
  color: white;
}

tr:nth-child(odd) {
  background-color: #eee;
}
