.biography {
  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_textarea {
      margin: 1em auto 3em auto;
      width: 70em;
      height: 15em;
      border-radius: 10px;
      box-shadow: 10px 5px 5px rgb(226, 226, 226);
    }

    &_submit {
      width: 5%;
      height: 2em;
      margin-bottom: 4em;
      background-color: rgb(128, 163, 128);
      color: white;
    }
  }
}
